<% include ../partials/header %>

<div class="ui main text container segment">
        <div class="ui huge header"><%= sewa.sewaName %></div>
            <div class="ui top attached">
                <div class="item">
                    <div class="content">
                    </div>
                    <div class="description">
                    <p><%= sewa.description %></p>
                    </div>
                </div>
            </div>
        <hr>
            <a class="btn btn-danger" style="width:100px;" href="/sewaEvents/<%= sewa._id%>/edit">Edit</a>
            <a class="btn btn-primary" style="float: right; width:100px;" href="/sewaEvents">Back</a>
</div>
    <span>
            <div class="row">
                    <div class="col-md-3">
                        <p class="lead">Address Map</p>
                        <div class="list-group">
                            <li class="list-group-item active">Google Map</li>
                        </div>
                    </div>
                    <div class="well" style="width: 50%; margin-left: 25%;">
                         <div class="text-right">
                            <a class="btn btn-success" href="#">Add New Comment</a>
                         </div>
                         <hr>
                     </div>
                </div>
    </span>

    <script>
            function initMap() {
              var lat = <%= sewa.lat %>;
              var lng = <%= sewa.lng %>;
              var center = {lat: lat, lng: lng };
              var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 8,
                  center: center,
                  scrollwheel: false
              });
              var contentString = `
                <strong><%= sewa.name %><br />
                <%= sewa.location %></strong>
                <p><%= sewa.description %></p>
              `
              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });
              var marker = new google.maps.Marker({
                  position: center,
                  map: map
              });
              marker.addListener('click', function() {
                infowindow.open(map, marker);
              });
            }
          </script>
          <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkG51lwJtDvYFKTBdRZlhzYg1D4QFsXPU&callback=initMap"></script>